<!-- Fragment 2 Start -->
<table class="w-full">
  <tr>
    <td class="px-5">
      <table class="w-full">
        <tr>
          <td class="h-px bg-gray-500"></td>
        </tr>

        <tr>
          <td class="text-center font-primary text-xs text-black pt-5">
            Sed do eiusmod tempor incididunt ut labore
          </td>
        </tr>

        <tr>
          <td class="h-[20px]"></td>
        </tr>

        <tr>
          <td class="text-center pb-5">
            <x-image class="w-[100px]" imgUrl="logo.png" href="#" />
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<!-- Fragment 2  end -->
