<!-- fragment 1 start -->
<table class="w-full">
  <tr>
    <td class="px-5 py-5">
      <table class="w-full">
        <tr>
        <td class="text-center text-[#005555] font-primary text-2xl leading-7 font-bold">
          Excepteur sint occaecat cupidatat
        </td>
      </tr>
  </tr>



  <tr>
    <td class="text-center text-[#444444] font-primary text-base leading-5 px-5">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
      eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
      ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
      aliquip ex ea commodo consequat.
    </td>
  </tr>

  <tr>
    <td class="h-[20px]"></td>
  </tr>


  <tr>
    <td class="text-center px-4 pb-8">
      <table class="mx-auto">
        <tr>
          <td class="bg-teal-700 text-white font-primary text-xl px-5 py-2.5 leading-5 rounded-lg font-bold">
            <a href="#" class="block text-white no-underline text-center">
              Ut enim ad minim veniam
            </a>
          </td>
        </tr>
      </table>
    </td>
  </tr>


  <tr>
    <td class="h-[20px]"></td>
  </tr>


</table>


<!-- fragment 1 end -->