<!-- section -03 start -->
<table class="w-full bg-white">
  <tr>
    <td>
      <table class="w-full bg-[#F0F5F5]">
        <tr>
          <td
            class="text-center text-[#005555] font-primary text-2xl pt-8 pb-5 leading-7 font-bold"
          >
            Sint cupidatat occaecat ut
          </td>
        </tr>
      </table>
    </td>
  </tr>

  <!-- Mobile Version -->

  <tr>
    <td class="bg-[#F0F5F5] px-5 pt-5 pb-10 hidden sm:block">
      <table class="w-full hidden sm:block">
        <tr>
          <td class="bg-white text-center px-4 py-5 align-top">
            <table class="w-full">
              <tr>
                <td class="pt-5 pb-5">
                  <x-image
                    class="w-[100px] mx-auto"
                    imgUrl="circle.png"
                    href="#"
                  />
                </td>
              </tr>
              <tr>
                <td
                  class="text-[#005555] font-primary text-xl leading-6 px-5 font-bold"
                >
                  Nisi ut ade
                </td>
              </tr>
              <tr>
                <td class="h-[20px]"></td>
              </tr>
              <tr>
                <td
                  class="text-[#444444] font-primary text-base leading-5 px-5"
                >
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam.<span
                    class="text-[9px] [line-height:0] [vertical-align:6px]"
                    >1</span
                  >
                </td>
              </tr>
              <tr>
                <td class="h-[20px]"></td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td class="h-[30px]"></td>
        </tr>

        <tr>
          <td class="bg-white text-center px-4 py-5 align-top">
            <table class="w-full">
              <tr>
                <td class="pt-5 pb-5">
                  <x-image
                    class="w-[100px] mx-auto"
                    imgUrl="circle.png"
                    href="#"
                  />
                </td>
              </tr>
              <tr>
                <td
                  class="text-[#005555] font-primary text-xl leading-6 px-5 font-bold"
                >
                  Duis aute irure
                </td>
              </tr>
              <tr>
                <td class="h-[20px]"></td>
              </tr>
              <tr>
                <td
                  class="text-[#444444] font-primary text-base leading-5 px-5"
                >
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam.<span
                    class="text-[9px] [line-height:0] [vertical-align:6px]"
                    >2</span
                  >
                </td>
              </tr>
              <tr>
                <td class="h-[20px]"></td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>

  <!-- Desktop Version -->

  <tr>
    <td class="bg-[#F0F5F5] px-5 pt-5 pb-10 sm:hidden block">
      <table class="w-full sm:hidden block">
        <tr>
          <td class="bg-white text-center px-4 py-5 align-top">
            <table class="w-full">
              <tr>
                <td class="pt-5 pb-5">
                  <x-image
                    class="w-[100px] mx-auto"
                    imgUrl="circle.png"
                    href="#"
                  />
                </td>
              </tr>
              <tr>
                <td
                  class="text-[#005555] font-primary text-xl leading-6 px-5 font-bold"
                >
                  Nisi ut ade
                </td>
              </tr>
              <tr>
                <td class="h-[20px]"></td>
              </tr>
              <tr>
                <td
                  class="text-[#444444] font-primary text-base leading-5 px-5"
                >
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam.<sup>1</sup>
                </td>
              </tr>
              <tr>
                <td class="h-[20px]"></td>
              </tr>
            </table>
          </td>

          <td class="w-[20px]"></td>

          <td class="bg-white text-center px-4 py-5 align-top">
            <table class="w-full">
              <tr>
                <td class="pt-5 pb-5">
                  <x-image
                    class="w-[100px] mx-auto"
                    imgUrl="circle.png"
                    href="#"
                  />
                </td>
              </tr>
              <tr>
                <td
                  class="text-[#005555] font-primary text-xl leading-6 px-5 font-bold"
                >
                  Duis aute irure
                </td>
              </tr>
              <tr>
                <td class="h-[20px]"></td>
              </tr>
              <tr>
                <td
                  class="text-[#444444] font-primary text-base leading-5 px-5"
                >
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam.<sup>2</sup>
                </td>
              </tr>
              <tr>
                <td class="h-[20px]"></td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<!-- section -03 end -->
